.header-container {
  background-color: rgb(106, 56, 200);
  padding: 0.7em 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.position {
  align-self: center;
  display: flex;
  align-items: baseline;
}

.position__title {
  color: white;
}

.position__number {
  display: inline-block;
  margin-left: 0.2em;
  padding: 0.1em 0.2em;
  
  background-color: white;
  border-radius: 0.5em;
}

.back-button {
  border: none;

  font-size: 2em;
  color: white;

  background-color: initial;
  cursor: pointer;
  outline: none;

  transition: transform 200ms;
}

.back-button:hover {
  transform: translateX(-10px);
}